#app {
  font-family: Ubuntu;
}
.border {
  border: 4px solid #754ef7;
  border-radius: 5px;
}
.border-light {
  border-radius: 5px;
  border: 2px solid #754ef7;
  -webkit-box-shadow: 0 0 3px #754ef7;
  box-shadow: 0 0 3px #754ef7;
}